/AI/Dataset/
/AI/DatasetCrop/
/AI/content/
.idea
/AI/cropped_dataset/
/AI/aug_cropped_dataset/
/AI/models/
/AI/images_from_test/
/backend/API/sims
/AI/Images/
/AI/wrong_class_img/
/backend/API/sims
/backend/API/__pycache__
/backend/API/models/__pycache__
/backend/API/controllers/__pycache__