* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    width: 50%;
}

.logo {
    background-color: #E4E1DB;
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img {
    width: 40%;
    margin-right: 100px;
}

h1 {
    color: #333333;
    font-size: 3.3rem;
}

h3 {
    color: #333333;
    font-size: 2rem;
}

h4 {
    color: #333333;
    font-size: 1.5rem;
}

h5 {
    color: #333333;
    font-size: 1rem;
}

h6 {
    color: #333333;
    font-size: 0.8rem;
}

.menu-items {
    background-color: #F1F0ED;
    width: 100%;
    display: flex;
    list-style: none;
    padding: 20px 0;
}

.menu-link {
    color: #333333;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-link:hover {
    color: #A5B1AA;
    transition: all 0.3s ease;
}

.body-container {
    color: #333333;
    margin: 20px;
    width: 50%;
}

th {
    font-size: 20px;
}

td {
    border: 2px solid #A5B1AA;
    width: 150px;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 20px;
}

.form-field {
    border: 2px solid #B7DEBD;
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}

.button {
    background-color: #DBEEDE;
    border: none;
    color: #333333;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
    transition: all 0.3s ease;
}

.button:hover {
    color: #A5B1AA;
    transition: all 0.3s ease;
}

.image-container {

}

.characters {
    display: flex;
    flex-wrap: wrap;
}

.form-check-input {
    width: 28%;
    margin: 10px;
    border: 1px solid #A5B1AA;
    cursor: pointer;
}

.image-check {
    width: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.list {
    list-style: none;
}